name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Run Install package
        run: pnpm install
      - name: run test
        run: pnpm run test
